# The loopback network interface
auto lo
iface lo inet loopback

{% for adapter in ansible_interfaces %}
{% if adapter != 'lo' %}
auto {{ adapter }}
iface {{ adapter }} inet dhcp

{% endif %}
{% endfor %}
